.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  .logo-container {
    height: 100%;
    max-width: 85px;
    margin-top: 3px;
    img {
      width: 100%;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-decoration: none;
      color: #000;
      cursor: pointer;
    }
  }

  .image-holder {
    position: relative;
    width: 992px;
    height: 125px; /*dimensions of image*/
  }
  .image-holder .image,
  .image-holder .text {
    transition: opacity 0.5s ease-in-out;
  }
  .image-holder .text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .image-holder:hover .image {
    opacity: 0;
  }
  .image-holder:hover .text {
    opacity: 1;
  }
}
